@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

$whatever: #w0w0w0;

//colors
$offwhite: #efefef;
$bgblue: #01A2D0;
$bgwhite: #E6EEEE;

$offwhite2: darken($offwhite, 10%);

$bgblue2: darken($bgblue, 10%);

$calcbg1: linear-gradient($bgblue, $bgblue2);

$calcbutton1: linear-gradient($offwhite, $offwhite2);

$calcshadow: linear-gradient(#efefef, #01A2D0);

//mainsass
.awesome {
    background: $offwhite;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    min-height: 96vh;
    flex-direction: column;

}

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    h1 {
        font-size: 40px;
    }
    nav {
    width: 60vw;
        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            list-style: none;
            flex: 1, 1, auto;
            padding: 0;
            li {
                a {
                    text-decoration: none;
                    font-size: 1.2em;
                }
            }
        }
    }
}

.content {
    // width: 80vw;
    display: inline-flex;
    flex: 1;

}

.maincontent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    order: 2;
    padding: 5px;
    width: 80vw;
    align-self: flex-start; // vertical alignment
    justify-content: space-around;
    form{
        display: flex;
        flex-flow: column nowrap;
        height: 200px;
        width: 250px;
        border: 1px solid black;
        padding: 5px;
        align-self: space-around; //horizontal alignment of form box
        h3{
            margin: 0;
            padding: 5px;
            text-align: center;
        }
    }
    h1{
        display: flex;
        justify-content: center;
    }
    .calculator{
        display: flex;
        flex-flow: row wrap;
        width: 240px;
        height: 350px;
        border: 3px double black;
        justify-content: space-between;
        padding: 10px;
        background: $calcbg1;
        font-family: Roboto Condensed;
        border-radius: 10px;

        .calc{
            display: flex;
            padding-left: 10px;
            padding-right: 10px;
            align-items: center;
            // border: 1px solid black;
            flex: 0 0 auto;
        }
        .buttons{
            display: flex;
            flex-flow: row wrap;
            order: 2;
            justify-content: space-around; // text alignment in boxes
            align-content: center;
            align-self: center;
            width: 30px;
            height: 30px;
            background: $offwhite;
            box-shadow: 0px 6px 0px $offwhite2;
            font-size: 1.7em;
            border-radius: 3px;
        }

        .buttons:active{
            background: $offwhite2;
            // color: white;
            align-self: flex-end; //move to bottom of area
            box-shadow: inset 5px 10px 7px $offwhite; //keypress look
        }

        #display{
        order: 1;
        align-self: flex-start; //vert box pos
        align-items: flex-start; //text vert pos
        justify-content: flex-start; //text hor pos
        flex-flow: row wrap;
        flex: 4 4 auto;
        // width: 215px;
        height: 150px;
        word-break: break-all;
        color: $offwhite;
        background: rgba(53, 53, 53, .9);
        font-size: 1.65em;
        overflow: hidden;
        box-shadow: inset 0 0 7px rgba(1, 162, 208, .8);
        border-radius: 7px;
        padding-top: 5px;
}


        #clear{
            width: 200px;
            height: 15px;
            font-size: 1em;
            margin-left: 10px;
            margin-bottom: 10px;

            // justify-content: ;

        }

    }

}

.sidebar {
    width: 20vw;
    order: 1;
    border: 1px solid black;
    padding: 5px;
}

footer {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
}
